<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>URL : </ion-label>
      <ion-input type="url" readonly [ngModel]="url_const"></ion-input>
      <ion-button (click)="copiarUrl()" >Copiar Url</ion-button>
    </ion-item>
  </div>
</ion-content>